<li class='list-group-item'>
  <div class='row'>
    <div class='col-sm-10'>
      <%= link_to url_with_protocol(link.url), target: :_blank do %>
        <h5 class='name'><%= link.name %></br>
        <small class='url'><%= link.url %></small></h5>
      <% end %>
      <% link.tag_list.each do |tag| %>
        <%= link_to links_url(tag: tag), class:'btn btn-xs btn-default' do %>
          <span class='tag'>#<%= tag %></span>
        <% end %>
      <% end %>
    </div>
    <div class='col-sm-2 actions'>
      <% if link.read? %>
        <%= link_to 'Mark as Unread', unread_link_path(link) %>
      <% else %>
        <%= link_to 'Mask as Read', read_link_path(link) %>
      <% end %>

      <%= link_to edit_link_path(link) do %>
        <span class='glyphicon glyphicon-pencil'></span>
      <% end %>
      <%= link_to link, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete' do %>
        <span class='glyphicon glyphicon-remove'></span>
      <% end %>
    </div>
  </div>
</li>
