<% if link.read?%>
  <li class='list-group-item disabled'>
<% else %>
  <li class='list-group-item'>
<% end %>  
  <div class='actions pull-right'>
    <% if link.read? %>
      <%= link_to 'Mask as Unread', mark_unread_link_path(link) %>
    <% else %>
      <%= link_to 'Mask as Read', mark_read_link_path(link) %>
    <% end %><br/>
    <%= link_to 'Edit', edit_link_path(link) %><br/>
    <%= link_to 'Delete', method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <%= link_to url_with_protocol(link.url), target: :_blank do %>
    <h5 class='name'><%= link.name %></br>
    <small class='url'><%= link.url %></small></h5>
  <% end %>
  <% link.tag_list.each do |tag| %>
    <%= link_to links_url(tag: tag), class:'btn btn-xs btn-default' do %>
      <span class='tag'>#<%= tag %></span>
    <% end %>
  <% end %>
</li>
