<% if link.read? %>
  <li class='list-group-item'>
<% else %>
  <li class='list-group-item disabled'>
<% end %>
  <div class='actions pull-right'>
    <% if link.read? %>
      <%= link_to mark_unread_link_path(link) do %>
        <span title='Mask as Unread' class='glyphicon glyphicon-folder-close'></spans>
      <% end %>
    <% else %>
      <%= link_to mark_read_link_path(link) do %>
        <span title='Mask as Read' class='glyphicon glyphicon-folder-open'></spans>
      <% end %>
    <% end %>

    <%= link_to edit_link_path(link) do %>
      <span class='glyphicon glyphicon-pencil'></span>
    <% end %>
    <%= link_to link, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete' do %>
      <span class='glyphicon glyphicon-remove'></span>
    <% end %>
  </div>


  <% if link.read? %>
    <%= link_to url_with_protocol(link.url), target: :_blank do %>
      <h5 class='name'><strong><%= link.name %></strong></br>
      <small class='url'><strong><%= link.url %></strong></small></h5>
    <% end %>
    <% link.tag_list.each do |tag| %>
      <%= link_to links_url(tag: tag), class:'btn btn-xs btn-default' do %>
        <span class='tag'>#<%= tag %></span>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to url_with_protocol(link.url), target: :_blank do %>
      <h5 class='name'><%= link.name %></br>
      <small class='url'><%= link.url %></small></h5>
    <% end %>
    <% link.tag_list.each do |tag| %>
      <%= link_to links_url(tag: tag), class:'btn btn-xs btn-default' do %>
        <span class='tag'>#<%= tag %></span>
      <% end %>
    <% end %>
  <% end %>

</li>
