<li class='link'>
  <div class='row'>
    <div class='col-sm-11'>
      <%= link_to url_with_protocol(link.url), target: :_blank do %>
        <h5 class='name'><%= link.name %></br>
        <small class='url'><%= link.url %></small></h5>
      <% end %>
      <% link.tag_list.each do |tag| %>
        <%= link_to links_url(tag: tag) do %>
          <span class='tag'>#<%= tag %></span>
        <% end %>
      <% end %>
    </div>
    <div class='col-sm-1 actions'>
      <%= link_to 'Edit', edit_link_path(link) %>
      <%= link_to 'Delete', link, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</li>
