<div class='row'>
  <div class='col-md-8'>
    <div class='panel panel-default'>
      <div class="panel-heading">
        My Links 
        <%= link_to new_link_path do %>
          <span class='glyphicon glyphicon-plus-sign'></span>
        <% end %>        
      </div>

      <div class="panel-body">
        <div class='link-list'>
          <ul class="nav nav-pills">
            <li class="active"><%= link_to 'all', links_url %></li>
            <li><%= link_to 'unread', links_url(read: false) %></li>
            <li><%= link_to 'read', links_url(read: true) %></li>
          </ul>
          
          <ul class='list-group'>
            <% @links.each do |link| %>
              <%= render link %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class='col-md-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        Tags
      </div>
      <div class='panel-body'>
        <%= render 'tags', tags: @tags %>
      </div>  
    </div>  
  </div>
</div>
