<div class='col-md-9'>
  <div class='panel panel-default'>
    <div class="panel-heading">
      <div class='actions pull-right button_link'>
        <%= link_to new_link_path do %>
          <span class='glyphicon glyphicon-plus-sign'></span>
        <% end %>        
      </div>
      My Links
    </div>
    <div class="panel-body">
      <div class='link-list'>
        <ul class="nav nav-pills">
          <% links_filters.each do |filter| %>
            <% active = '' %>
            <% if current_page?(filter[:url]) || #gambssss
                  (current_page?(root_path) && filter == links_filters.first) %>
              <% active = 'active' %>
            <% end %>
            <li class='<%= active %>'><%= link_to filter[:title], filter[:url] %></li>
          <% end %>
        </ul>
        <span class='space'> </span>
        <ul class='list-group button_link'>
          <% @links.each do |link| %>
            <%= render link %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class='col-md-3'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      Tags
    </div>
    <div class='panel-body'>
      <%= render 'tags', tags: @tags %>
    </div>  
  </div>  
</div>
