<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>linkeep.it</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'logo16.png'  %>
    <%= favicon_link_tag 'logo32.png'  %>
    <%= csrf_meta_tags %>
  </head>
  <body class='<%= controller.controller_name %>'>
    <%= render 'navigation' %>

    <% unless current_page? new_user_session_path %>
      <%= render 'notice' %>
    <% end %>

    <%= yield %>
  </body>
</html>
